<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Bem-vindo - Grupo 2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo/site.css') }}">
</head>
<body>

  <h1>Bem-vindo, {{ nome }}!</h1>
  <img id="gato" src="{{ url_for('static', filename='gatim.png') }}" alt="gatinho fofo" width="300">
  
  <button id="dar10">Dar 10</button>
  <a href="/login">Sair</a>

  <canvas id="confetti"></canvas>

  <script src="{{ url_for('static', filename='js/confetti.js') }}"></script>
</body>
</html>